main {
  padding: 0;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 100%;
}

#background {
  height: 100%;
  width: 100%;
  background-color: #5a4838;
  color: #37be43;
  position: absolute;
  z-index: -2;
}

#background-confetti {
  z-index: -1;
}

h1, h2 {
  padding-left: calc(50%-(315px/2));
  display: block;
}

h1 {
  min-width: 315px;
  margin-top: 50%;
}

h2 {
  min-width: 110px;
}

#balloon-space {
  position: relative;
}

.balloons {
  position: absolute;
  height: 50px;
  width: 30px;
}

#balloon1 {
  background-color: blueviolet;
  top: 50px;
}

#balloon2 {
  background-color: blue;
  top: 100px;
}

#balloon3 {
  background-color: red;
  top: 150px;
}

#balloon4 {
  background-color: green;
  top: 200px;
}

#balloon5 {
  background-color: aqua;
  top: 250px;
}