#background {
  height: vh;
  width: vw;
  background-color: #5a4838;
}

#oval-part {
  height: 2rem;
  width: 1rem;
  border-radius: 45%;
}

#triangle-part {
  height: .3rem;
  width: .3rem;
}

#balloon1 {
  color: blueviolet;
}