#background {
  height: 100%;
  width: 100%;
  background-color: #5a4838;
  color: #37be43;
  position: absolute;
  z-index: -1;
}

#balloon-space {
  height: 100%;
  width: 100%;
  position: fixed;
}

#balloons {
  position: absolute;
  height: 15px;
  width: 10px;
}

#balloon1 {
  background-color: blueviolet;
  top: 5em;
}

#balloon2 {
  background-color: blue;
  top: 10em;
}

#balloon3 {
  background-color: red;
  top: 15em;
}

#balloon4 {
  background-color: green;
  top: 20em;
}

#balloon5 {
  background-color: aqua;
  top: 25em;
}